        .map {
            background-color:#ffff;
        margin-bottom:10px;
        }

        /* CSS for the tooltip displayed on mousehover on elements */
        .mapTooltip {
			position : fixed;
			background-color : #ffff;
			
			
			filter:alpha(opacity=70);
			
			max-width: 200px;
			display:none;
			color:#ffff;
		}

		body {
			font-family:Helvetica,Arial,sans-serif;
		}
	
		h1 {
			color:#ffff;
			font-size:30px;
		}

        .container {
            max-width: 800px;
            margin:auto;
            color:#ffff;
        }